<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Wild And Wizard - School Result</title>
</head>
<body>
<ul>
    <li th:text="|Id: ${school.id}|">$id</li>
    <li th:text="|Name: ${school.name}|">$name</li>
    <li th:text="|Capacity: ${school.capacity}|">$capacity</li>
    <li th:text="|Country: ${school.country}|">$country</li>
</ul>
<form action="/school/update" method="post">
    <input th:value="${school.id}" name="id" type="hidden">
    <label for="school-name">School:</label>
    <input th:value="school-name" name="name" placeholder="Poudlard" required type="text">
    <br><br>
    <label for="school-capacity">Capacity:</label>
    <input th:value="school-capacity" name="capacity" placeholder="300" required type="number">
    <br><br>
    <label for="school-country">Country:</label>
    <input th:value="school-country" name="country" placeholder="England" required type="text">
    <br><br>

    <input type="submit" value="Modify">
</form>
<form action="/school/delete" method="get">
    <label>Delete by id:</label>
    <input name="id" placeholder="1" required type="text">
    <input type="submit" value="Send">
</form>



<a href="/">Go back</a>
</body>
</html>